:host {
    --container-bar-background: var(--tertiary);
    --container-bar-margin-bottom: 2px;
    --container-bar-border-radius:25px;

    --bar-progress-color: var(--primary);
    --bar-progress-height:8px;

    --label-color: var(--primary-text);
    --label-font-family: Var(--global-font-family);
    --label-font-weight: var(--font-weight-semi-bold);
    --label-font-size: 1.6rem;

    --bar-progress-color-bad: var(--error);
    --bar-progress-color-poor: var(--rating-poor);
    --bar-progress-color-average:var(--warning);
    --bar-progress-color-great:var(--rating-great);
    --bar-progress-color-excellent:var(--primary);
}
